h2 Check toon

toon-progress
i(data-ng-hide="toon || error").fa.fa-spinner.fa-spin

div.alert.alert-info(data-ng-show="error")
    span {{error}}
div.container-fluid
    div.row(data-ng-show="toon")
        bosses-list(progress="toon.progress")
        toon-view-progress(toon="toon")
