div.raidtooltip(class="{{$ctrl.raid.summary[$ctrl.difficulty].status}}") {{$ctrl.raid.summary[$ctrl.difficulty].kill}}/{{$ctrl.raid.bosses.length}}
    span.raidtooltiptext
        div(ng-repeat="(name, boss) in $ctrl.raid.bosses")
            span(data-ng-class="{'bossKilled':boss[$ctrl.difficulty+'Kills']}" class="{{$ctrl.raid.summary[$ctrl.difficulty].kill?$ctrl.difficulty:''}}") {{boss[$ctrl.difficulty+'Kills']}}x {{boss.name}}