div.col-md-2.text-center
    div.panel.panel-default
        div.panel-body(class="{{$ctrl.toon.class | class}}" style="height:164px")
            img(ng-src="{{$ctrl.toon.thumbnail}}" height="64" width="64").img-circle.img-avatar
            h5 {{$ctrl.toon.name}}
            h6 {{$ctrl.toon.realm}}
            h6 {{$ctrl.toon.averageItemLevelEquipped}}/{{$ctrl.toon.averageItemLevel}}
        div.panel-body.container-fluid.bosses-difficulty
            div(ng-repeat="(name, bossesStatistics) in $ctrl.toon.progress.mythicDungeon").row
                span(ng-repeat="bossStatistics in $ctrl.toon.progress.mythicDungeon[name]" data-ng-class="bossStatistics.down?bossStatistics.difficulty:'alive'").boss-status {{bossStatistics.difficulty}}
            div(ng-repeat="(name, bossesStatistics) in $ctrl.toon.progress.emeraldNightmare").row
                    span(ng-repeat="bossStatistics in $ctrl.toon.progress.emeraldNightmare[name]" data-ng-class="bossStatistics.down?bossStatistics.difficulty:'alive'").boss-status {{bossStatistics.difficulty}}
            div(ng-repeat="(name, bossesStatistics) in $ctrl.toon.progress.nighthold").row
                span(ng-repeat="bossStatistics in $ctrl.toon.progress.nighthold[name]" data-ng-class="bossStatistics.down?bossStatistics.difficulty:'alive'").boss-status {{bossStatistics.difficulty}}
