@death-knight:#C41F3B;
@demon-hunter:#A330C9;
@druid:#FF7D0A;
@hunter:#ABD473;
@mage:#69CCF0;
@monk:#00FF96;
@paladin:#F58CBA;
@priest:#EEEEEE;
@rogue:#FFF569;
@shaman:#0070DE;
@warlock:#9482C9;
@warrior:#C79C6E;
@common: #ffffff;
@uncommon: #1eff00;
@rare: #70B8FF;
@epic: #a335ee;
@legendary: #ff8000;
@in-progress: #fcff00;
@completed: #5cc301;
body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img-avatar{
  border:1px solid;
  box-shadow:4px 4px 5px;
  vertical-align: top;
}
table.with-scroll{
  background-color: #FFF;
}
table.with-scroll>tbody>tr>th
{
    background-color: #FFF;
    position: absolute;
    display: inline-block;
    width: 216px;
    white-space: nowrap;
    border-top:0 solid black !important;
}
table.with-scroll> tbody > tr > td:nth-child(2)
{
    padding-left:216px !important;
}
table.with-scroll>tbody>tr.separator>td{
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    background-color: #aaa;
}
table.with-scroll>tbody>tr.separator>th{
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    background-color: #aaa;
}

/*
 * WoW class color
 */
.death-knight{
  background-color:@death-knight;
}
.demon-hunter{
  background-color:@demon-hunter;
}
.druid{
  background-color:@druid;
}
.hunter{
  background-color:@hunter;
}
.mage{
  background-color:@mage;
}
.monk{
  background-color:@monk;
}
.paladin{
  background-color:@paladin;
}
.priest{
  background-color:@priest;
}
.rogue{
  background-color:@rogue;
}
.shaman{
  background-color:@shaman;
}
.warlock{
  background-color:@warlock;
}
.warrior{
  background-color:@warrior;
}
.death-knight-lite{
  background-color:lighten(@death-knight,25%);
}
.demon-hunter-lite{
  background-color:lighten(@demon-hunter,25%);
}
.druid-lite{
  background-color:lighten(@druid,25%);
}
.hunter-lite{
  background-color:lighten(@hunter,25%);
}
.mage-lite{
  background-color:lighten(@mage,25%);
}
.monk-lite{
  background-color:lighten(@monk,25%);
}
.paladin-lite{
  background-color:lighten(@paladin,20%);
}
.priest-lite{
  background-color:lighten(@priest,25%);
}
.rogue-lite{
  background-color:lighten(@rogue,25%);
}
.shaman-lite{
  background-color:lighten(@shaman,25%);
}
.warlock-lite{
  background-color:lighten(@warlock,25%);
}
.warrior-lite{
  background-color:lighten(@warrior,25%);
}
/*
 * WoW class color
 */
.death-knight-text{
    color:@death-knight;
    border-color:@death-knight;
}
.demon-hunter-text{
    color:@demon-hunter;
    border-color:@demon-hunter;
}
.druid-text{
    color:@druid;
    border-color:@druid;
}
.hunter-text{
    color:@hunter;
    border-color:@hunter;
}
.mage-text{
    color:@mage;
    border-color:@mage;
}
.monk-text{
    color:@monk;
    border-color:@monk;
}
.paladin-text{
    color:@paladin;
    border-color:@paladin;
}
.priest-text{
    color:@priest;
    border-color:@priest;
}
.rogue-text{
    color:@rogue;
    border-color:@rogue;
}
.shaman-text{
    color:@shaman;
    border-color:@shaman;
}
.warlock-text{
    color:@warlock;
    border-color:@warlock;
}
.warrior-text{
    color:@warrior;
    border-color:@warrior;
}
/*
 * WoW quality color
 */
.common{
  color:@common;
}
.uncommon{
  color:@uncommon;
}
.rare{
  color:@rare;
}
.epic{
  color:@epic;
}
.legendary{
  color: @legendary;
}
/*
 * WoW boss status
 */
.boss-status{
  -moz-border-radius:2px;
  border-radius:2px;
  padding:0 1px 0 1px;
  border: 1px solid #aaaaaa;
  margin:0 0 0 2px;
}

.bossAlive{
  color: #777777;
}
.bossKilled{
  color: @common;
}
.bossKilledThisWeek{
  font-weight:bold;
}
.alive{
  background-color:#CCCCCC;
  color:#333;
}
.boss-status.lfr{
  background-color:@common;
}
.boss-status.nm, .boss-status.normal{
  background-color:@rare;
}
.boss-status.hm, .boss-status.heroic{
  background-color:@epic;
}
.boss-status.mm, .boss-status.mythic{
  background-color:@legendary;
}
.summary-raid .lfr{
  color:@uncommon;
}
.summary-raid .nm, .summary-raid .normal{
  color:@rare;
}
.summary-raid .hm, .summary-raid .heroic{
  color:@epic;
}
.summary-raid .mm, .summary-raid .mythic{
  color:@legendary;
}
.summary-raid td.status div.status-completed{
    background-color: @completed;
    border:1px solid darken(@completed,20%);
}
.summary-raid td.status div.status-in-progress{
    background-color: @in-progress;
    border:1px solid darken(@in-progress,20%);
}
.summary-raid td.status div.status-incomplete{
}
.summary-raid td.status{
    cursor: help;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
}

.summary-raid td.status div{
    width:100%;
    padding:0px 3px;
}

.summary-raid table{
    border-collapse: collapse;
}
.summary-raid td{
    padding: 0;
    margin: 0;
}
.summary-raid td.summary-toon div.toon-info{
  display:inline-block;
  padding-left:10px;
  font-size:9px;
}
.summary-raid td.summary-toon{
    padding: 3px;
}
.summary-raid tr.icons .icon{
    width: 120px;
    height: 60px;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    overflow: hidden;
    text-shadow: 1px 1px 1px black;
    font-family: "Arial Black", Arial, sans-serif;
    font-weight: 900;
    font-size: 11px;
    color: white;
    border:1px solid black;
    background-repeat: no-repeat;
    background-size: 120px 60px;
}
.summary-raid tr.icons .en .icon {
  background-image:url("https://blzmedia-a.akamaihd.net/wow/zones/the-emerald-nightmare-small.jpg")
}
.summary-raid tr.icons .tov .icon {
  background-image:url("https://blzmedia-a.akamaihd.net/wow/zones/trial-of-valor-small.jpg");
}
.summary-raid tr.icons .nh .icon {
  background-image:url("https://blzmedia-a.akamaihd.net/wow/zones/the-nighthold-small.jpg");
}
.summary-raid tr.icons .tos .icon {
  background-image: url("https://blzmedia-a.akamaihd.net/wow/zones/tomb-of-sargeras-small.jpg");
}
.summary-raid td.spacer div{
    width: 26px !important;
}
.bosses-list>div{
  border-bottom: 1px solid #aaa;
  padding:2px 0 2px 0;
}
.bosses-difficulty>div{
    padding:2px 0 3px 0;
}
.back-img{
    display: block;
    float: left;
    z-index: -3;
    position: absolute;
}
.raidtooltip {
  position: relative;
  display: inline-block;
}
.raidtooltip .raidtooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #CCCCCC;
  text-align: left;
  border:1px solid #CCCCCC;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 160px;
  margin-left: -60px;
  opacity: 0;
}
.raidtooltip:hover .raidtooltiptext {
  visibility: visible;
  opacity: 1;
}