/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.toon {
  padding: 20px;
  text-align: center;
  color: #eee;
  height: 13em;
  min-width: 14em;
  background-color: #3f525c;
  border-radius: 1em;
  margin: 1em;
}
.toon > div.name{
  font-size: 1.6em;
  font-weight: 600;
}
.toon > div.realm{
  font-size: 1em;
  font-weight: 100;
  color: #ccc;
}
.toon > img{
  border-radius: 1em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.toon.horde{
  background-color:#8c1616;   /* Falu Red */
}
.toon.alliance{
  background-color: #162c57;  /* Blue Zodiac */
}

.toon:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
