<h3>My toons!</h3>

<div class="container">
  <a
    *ngFor="let toon of toons"
    class="toon {{toon.faction.type | lowercase}}"
    routerLink="/toon/{{ toon.realm.slug }}/{{ toon.name }}"
  >
    <ng-template [ngIf]="toon?.details?.media?.bust">
      <img class="bust" src="{{toon.details.media.bust}}" />
    </ng-template>
    <div class="name {{toon.class.name | lowercase}}-text">{{toon.name}}</div>
    <div class="realm">{{toon.realm.name}}</div>
    <div>{{toon.details?.profile?.averageItemLevel}}</div>
    <div class="kills">
      <ng-template [ngIf]="toon?.details?.statistics">
        <img *ngFor="let kill of toon.details.statistics.kills" 
        src="/assets/img/{{kill.id}}.jpg"
        [className]="kill.isDeadThisWeek ? 'killed' : 'alive'">
      </ng-template>
    </div>
  </a>
</div>
