/* Global Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body,
input[text],
button {
  color: #333;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  color: #000;
  background: #fbd404;
}

/*
 * WoW class color
 */
.death-knight {
  background-color: #c41f3b;
}
.demon-hunter {
  background-color: #a330c9;
}
.druid {
  background-color: #ff7d0a;
}
.hunter {
  background-color: #abd473;
}
.mage {
  background-color: #69ccf0;
}
.monk {
  background-color: #00ff96;
}
.paladin {
  background-color: #f58cba;
}
.priest {
  background-color: #eeeeee;
}
.rogue {
  background-color: #fff569;
}
.shaman {
  background-color: #0070de;
}
.warlock {
  background-color: #9482c9;
}
.warrior {
  background-color: #c79c6e;
}
.death-knight-lite {
  background-color: #ea798c;
}
.demon-hunter-lite {
  background-color: #d193e5;
}
.druid-lite {
  background-color: #ffc18a;
}
.hunter-lite {
  background-color: #e6f2d5;
}
.mage-lite {
  background-color: #ddf3fc;
}
.monk-lite {
  background-color: #80ffcb;
}
.paladin-lite {
  background-color: #fdeaf2;
}
.priest-lite {
  background-color: #ffffff;
}
.rogue-lite {
  background-color: #fffee8;
}
.shaman-lite {
  background-color: #5fafff;
}
.warlock-lite {
  background-color: #e0dbef;
}
.warrior-lite {
  background-color: #ebdbca;
}
/*
 * WoW class color
 */
.death-knight-text {
  color: #c41f3b;
  border-color: #c41f3b;
}
.demon-hunter-text {
  color: #a330c9;
  border-color: #a330c9;
}
.druid-text {
  color: #ff7d0a;
  border-color: #ff7d0a;
}
.hunter-text {
  color: #abd473;
  border-color: #abd473;
}
.mage-text {
  color: #69ccf0;
  border-color: #69ccf0;
}
.monk-text {
  color: #00ff96;
  border-color: #00ff96;
}
.paladin-text {
  color: #f58cba;
  border-color: #f58cba;
}
.priest-text {
  color: #eeeeee;
  border-color: #eeeeee;
}
.rogue-text {
  color: #fff569;
  border-color: #fff569;
}
.shaman-text {
  color: #0070de;
  border-color: #0070de;
}
.warlock-text {
  color: #9482c9;
  border-color: #9482c9;
}
.warrior-text {
  color: #c79c6e;
  border-color: #c79c6e;
}
/*
 * WoW quality color
 */
.common {
  color: #ffffff;
}
.uncommon {
  color: #1eff00;
}
.rare {
  color: #70b8ff;
}
.epic {
  color: #a335ee;
}
.legendary {
  color: #ff8000;
}

/*
 * WoW slot icon
 */
.slot-icon {
  background-image: url('/assets/img/icon-slots.png');
  background-color: #000;
  background-size: cover;
  height: 54px;
  width: 54px;
  color: #fff;
}
.head-icon {
  background-position: 0 0;
}
.neck-icon {
  background-position: 0 -100%;
}
.shoulder-icon {
  background-position: 0 -200%;
}
.chest-icon {
  background-position: 0 -300%;
}
.tabard-icon {
  background-position: 0 -400%;
}
.shirt-icon {
  background-position: 0 -500%;
}
.wrist-icon {
  background-position: 0 -600%;
}
.hands-icon {
  background-position: 0 -700%;
}
.waist-icon {
  background-position: 0 -800%;
}
.legs-icon {
  background-position: 0 -900%;
}
.feet-icon {
  background-position: 0 -1000%;
}
.finger_1-icon {
  background-position: 0 -1100%;
}
.finger_2-icon {
  background-position: 0 -1100%;
}
.trinket_1-icon {
  background-position: 0 -1600%;
}
.trinket_2-icon {
  background-position: 0 -1600%;
}
.back-icon {
  background-position: 0 -1200%;
}
.main_hand-icon {
  background-position: 0 -1300%;
}
.off_hand-icon {
  background-position: 0 -1400%;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
