/* Global Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  color: #000;
  background: #fbd404;
}

/*
 * WoW class color
 */
 .death-knight {
  background-color: #C41F3B;
}
.demon-hunter {
  background-color: #A330C9;
}
.druid {
  background-color: #FF7D0A;
}
.hunter {
  background-color: #ABD473;
}
.mage {
  background-color: #69CCF0;
}
.monk {
  background-color: #00FF96;
}
.paladin {
  background-color: #F58CBA;
}
.priest {
  background-color: #EEEEEE;
}
.rogue {
  background-color: #FFF569;
}
.shaman {
  background-color: #0070DE;
}
.warlock {
  background-color: #9482C9;
}
.warrior {
  background-color: #C79C6E;
}
.death-knight-lite {
  background-color: #ea798c;
}
.demon-hunter-lite {
  background-color: #d193e5;
}
.druid-lite {
  background-color: #ffc18a;
}
.hunter-lite {
  background-color: #e6f2d5;
}
.mage-lite {
  background-color: #ddf3fc;
}
.monk-lite {
  background-color: #80ffcb;
}
.paladin-lite {
  background-color: #fdeaf2;
}
.priest-lite {
  background-color: #ffffff;
}
.rogue-lite {
  background-color: #fffee8;
}
.shaman-lite {
  background-color: #5fafff;
}
.warlock-lite {
  background-color: #e0dbef;
}
.warrior-lite {
  background-color: #ebdbca;
}
/*
 * WoW class color
 */
.death-knight-text {
  color: #C41F3B;
  border-color: #C41F3B;
}
.demon-hunter-text {
  color: #A330C9;
  border-color: #A330C9;
}
.druid-text {
  color: #FF7D0A;
  border-color: #FF7D0A;
}
.hunter-text {
  color: #ABD473;
  border-color: #ABD473;
}
.mage-text {
  color: #69CCF0;
  border-color: #69CCF0;
}
.monk-text {
  color: #00FF96;
  border-color: #00FF96;
}
.paladin-text {
  color: #F58CBA;
  border-color: #F58CBA;
}
.priest-text {
  color: #EEEEEE;
  border-color: #EEEEEE;
}
.rogue-text {
  color: #FFF569;
  border-color: #FFF569;
}
.shaman-text {
  color: #0070DE;
  border-color: #0070DE;
}
.warlock-text {
  color: #9482C9;
  border-color: #9482C9;
}
.warrior-text {
  color: #C79C6E;
  border-color: #C79C6E;
}
/*
 * WoW quality color
 */
.common {
  color: #ffffff;
}
.uncommon {
  color: #1eff00;
}
.rare {
  color: #70B8FF;
}
.epic {
  color: #a335ee;
}
.legendary {
  color: #ff8000;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
